/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: rgb(48, 48, 48);
  --color-dark: rgb(64, 64, 64);
  --color-light: rgb(194, 194, 194);
  --color-lighter: rgb(255, 255, 255);
  --color-60a: #f2f3f6;
  --color-60b: #d1d1d8;
  --color-30a: #050c12;
  --color-30b: #29405e;
  --color-10a: #d86754;
  --color-10b: #fccb5e;
  /* you could add an accent color for CTAs and anchor tags ;-) */
  --fonnt-primary: "Abril Fatface", cursive;
  --font-secondary: "Lato", sans-serif;
  /*Margins*/
  --m: 1rem;
  --ms: 0.5rem;
  --m-large: 3rem;
  --mtb: 1rem 0;
  --mb: 0 0 1rem 0;
  --mt: 1rem 0 0 0;
  --mtb-auto: 1rem auto;
  --mtb-medium: 2rem auto;
  --mlr: 0 1rem;
  --ml: 0 0 0 1rem;
  --mr: 0 1rem 0 0;
  --mtb-large: 3rem auto;
  --m-auto: 0 auto;

  /*Paddings*/
  --p: 0.5rem 1rem;
  --ps: 0.5rem 0.75rem;
  --p-medium: 1.5rem;
  --p-large: 3rem;
  --pb: 0 0 1rem 0;
  --pt: 1rem 0 0 0;
  --ptb: 1rem 0;
  --ptb-large: 3rem 0;
  --pr: 0 1rem 0 0;
  --pl: 0 0 0 1rem;
  --plr: 0 1rem;

  /*Border radius*/
  --border-radius-4: 4px;
  --border-radius-10: 10px;
  --border-radius-20: 40px;
  --border-radius-100: 100%;
  --border-radius-top-10: 10px 10px 0 0;
  --border-radius-right-10: 0 10px 10px 0;

  /*background colors*/
  --bg-gray-200: #eee;

  /*Shadows*/
  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* Fonts */

/*Primary Font*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* font-family: 'Abril Fatface', cursive; */
/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
/*font-family: 'Playfair Display', serif;*/

/*Seconary Font*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */
/*font-family: 'Lato', sans-serif;*/
/* font-family: 'Oxygen', sans-serif; */

html {
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

h1,
h2,
h3 {
  color: var(--color-30a);
}

h1,
h2 {
  margin: var(--mtb-medium);
}

h1 {
  font-family: var(--fonnt-primary);
  /* font-style: oblique; */
  /* font-weight: 900; */
  font-size: 3.815rem;
}

h2 {
  font-family: var(--font-primary);
  font-size: 1.953rem;
}

h3 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  padding: var(--ptb);
}

p {
  font-family: var(--font-secondary);
  color: var(--color-dark);
  font-size: 1rem;
  line-height: 1.35rem;
}

/* UI Elements */
button {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-10a);
  color: var(--color-60a);
  border-radius: var(--border-radius-10);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.input-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: var(--mtb-medium);
  gap: 1rem;
}

.card_title,
.card_mail {
  font-weight: bold;
  font-size: 0.85rem;
}

.card_mail a:link {
  color: var(--color-10a);
  text-decoration: none;
}

.card_mail a:hover {
  color: var(--color-30a);
}

.card_button_negative,
.card_button_positive {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius-4);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  width: fit-content;
}

.card_button_negative {
  /* border: 1px solid var(--color-30a); */
  background-color: var(--color-60a);
  color: var(--color-30a);
  border: none;
}

.card_button_positive {
  border: none;
  background-color: var(--color-10a);
  color: var(--color-60a);
}

.light_button {
  background-color: var(--color-10a);
  color: var(--color-60a);
}

input[type="text"] {
  /* box-sizing: border-box; */
  width: 250px;
  height: 2rem;
  padding: 0.5rem;
  text-align: left;
  border-radius: 10px 0 0 10px;
  border: none;
  color: var(--color-dark);
  /* margin: var(--m-auto); */
}

/* Menu */
nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-60a);
  padding: var(--p-medium);
}

nav a {
  color: var(--color-30b);
  text-decoration: none;
  font-size: 2rem;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-30b);
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  color: var(--color-60a);
}

.header_text p {
  color: var(--color-60a);
}

.header_graphics {
  width: 30vw;
  height: 30vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-60b);
  border-radius: var(--border-radius-100);
}

/* Sections */
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-60a);
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-10b);
  border-radius: var(--border-radius-100);
}

#cards {
  min-height: 80vh;
  /* padding: 5rem 2rem; */
  padding: var(--p-large);
  background-color: var(--color-60b);
}

#card_container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-10);
  background-color: var(--color-lighter);
  /* text-overflow: ellipsis;
  overflow: hidden; */
}

.card_name,
.card_slogan,
.card_title,
.card_mail {
  padding: var(--p);
}

.card img {
  width: 100%;
  object-fit: cover;
  max-width: 300px;
  min-width: 270px;
  max-height: 160px;
  border-radius: var(--border-radius-top-10);
}

.card h3 {
  margin: var(--mt);
}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-60a);
}

.info_text {
  width: 60vw;
  min-width: 300px;
}

.info_text button {
  margin: var(--mtb-medium);
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-60b);
}

.intro_text button,
#contact button {
  border-radius: var(--border-radius-right-10);
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-30a);
}

footer h2,
footer h3 {
  color: var(--color-lighter);
  margin: var(--mtb-medium);
  color: var(--color-10b);
}

footer a {
  color: var(--color-60a);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

footer ul {
  font-family: var(--font-secondary);
}

footer li {
  padding: var(--pb);
  text-decoration: none;
  list-style: none;
}

footer li a:link {
  padding: var(--pb);
  text-decoration: none;
  list-style: none;
  font-family: var(--font-secondary);
}

footer li a:hover {
  color: var(--color-lighter);
  text-decoration: underline;
}
